<!-- Memo list template -->

<!-- Top level memo list template -->
<template name="memo_list">
	<div class="container">
	</div>
</template>

<!-- Memo list selection bar -->
<template name="memo_list_selection">
	<div class="container">
	</div>
</template>

<!-- Memo list view - Main -->
<template name="memo_list_view">
	<div class="container">
	</div>
</template>

<!-- Memo list view - Icons -->
<template name="memo_list_view_icons">
	<div class="container">
	</div>
</template>

<!-- Memo list view - Details -->
<template name="memo_list_view_details">
	<div class="container">
	</div>
</template>
