<!-- Memo view template -->

<!-- Top level memo view template -->
<template name="memo_view">
	<div class="container">
	</div>
</template>

<!-- Memo view metadata bar -->
<template name="memo_view_metadata">
	<div class="container">
	</div>
</template>

<!-- Memo view permissions modal -->
<template name="memo_view_permissions">
	<div class="container">
	</div>
</template>

<!-- Memo view content - Main -->
<template name="memo_view_content">
	<div class="container">
	</div>
</template>

<!-- Memo view content - Render -->
<template name="memo_view_content_render">
	<div class="container">
	</div>
</template>

<!-- Memo view content - Editor -->
<template name="memo_view_content_editor">
	<div class="container">
	</div>
</template>
