<!-- Navbar template -->

<!-- Top level navbar template -->
<template name="navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Memos</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        {{> navbar_logged_out}}
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</template>

<!-- Navbar when logged in -->
<template name="navbar_logged_in">
	<ul class="nav navbar-nav">
		<li class="active"><a href="/">My Memos</a></li>
		<li><a href="/">Memos Shared with Me</a></li>
		<li><a href="/">Memos Shared with Everyone</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/">Placeholder 1</a></li>
		<li><a href="/">Placeholder 2</a></li>
		<li class="active"><a href="/">Placeholder 3<span class="sr-only">(current)</span></a></li>
	</ul>
</template>

<!-- Navbar when logged out -->
<template name="navbar_logged_out">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/">Placeholder 1</a></li>
		<li><a href="/">Placeholder 2</a></li>
		<li class="active"><a href="/">Placeholder 3<span class="sr-only">(current)</span></a></li>
	</ul>
</template>
