<!-- Memo view template -->

<!-- Top level memo view template -->
<template name="memo_view">
	<div id="memo_view" class="container">
		{{> memo_view_metadata}} {{> memo_view_content_editor}}
	</div>
</template>

<!-- Memo view - metadata bar -->
<template name="memo_view_metadata">
	<div id="memo_view_metadata" class="container">
		<div class="row">
			<!-- Memo Name -->
			<div class="col-md-3">
				Memo Name: {{memo_name}}
			</div>
			<!-- Owner -->
			<div class="col-md-2">
				Owner: {{get_email_address memo_owner_id}}
			</div>
			<!-- Permissions button -->
			<div class="col-md-2">
				<button type="button" class="btn btn-primary js-show-permissions-modal">Permissions</button> {{> memo_view_permissions}}
			</div>
			<!-- Date Created -->
			<div class="col-md-2">
				Created: {{date_created}}
			</div>
			<!-- Tags -->
			<div class="col-md-3">
				Tags<br>
				<!-- Existing Tags -->
				{{#each tags}}
				<span>{{.}},</span>
				{{/each}}

				<!-- New Tags -->
				<form id="tags_form">
					<div class="form-group">
						<label class="control-label hidden" for="new_tag">New Tag</label>
						<input id="tag_input" class="form-control" name="new_tag" type="text" placeholder="groceries">
						<input name="memo_id" type="hidden" value="{{_id}}">
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</template>

<!-- Memo view - permissions modal -->
<template name="memo_view_permissions">
	<div id="permissions_modal" class="modal fade">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
					<h4 class="modal-title">Permissions</h4>
				</div>
				<form id="permissions_form">
					<div class="modal-body">
						<!-- Currently shared users -->
						<div id="permissions_emails">
							<div class="row">
								<div class="col-md-6">
									User
								</div>
								<div class="col-md-6">
								</div>
							</div>

							{{#each shared_with}}
							<div class="row">
								<div class="col-md-6">
									{{get_email_address .}}
								</div>
								<div class="col-md-6">
								</div>
							</div>
							{{/each}}
						</div>

						<!-- Adding new users -->
						<div class="form-group">
							<label class="control-label hidden" for="email_address">New Email</label>
							<input id="email_input" class="form-control" name="email_address" type="email" placeholder="friend@aol.com">
							<input name="memo_id" type="hidden" value="{{_id}}">
							<span id="email_help" class="help-block"></span>
						</div>
						<!-- /.form-group -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</template>

<!-- Memo view - content - Main -->
<template name="memo_view_content">
	<div id="memo_view_content" class="container">
	</div>
</template>

<!-- Memo view - content - Render -->
<template name="memo_view_content_render">
	<div id="memo_view_content_render" class="container">
	</div>
</template>

<!-- Memo view - content - Editor -->
<template name="memo_view_content_editor">
	<div id="memo_view_content_editor" class="container">
		<div id="memo_editor"></div>
	</div>
</template>