<!-- Navbar template -->

<!-- Top level navbar template -->
<template name="navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Memos</a>
			</div>
			<!--/.navbar-header -->
			<div id="navbar" class="collapse navbar-collapse">
				{{#if currentUser}}
				<ul id="nav-list" class="nav navbar-nav">
					<li id="nav-my-memos"><a href="/my-memos">My Memos</a></li>
					<li id="nav-memos-shared-with-me"><a href="/memos-shared-with-me">Memos Shared with Me</a></li>
					<li id="nav-memos-shared-with-everyone"><a href="/memos-shared-with-everyone">Memos Shared with Everyone</a></li>
				</ul>
				{{/if}}
				<ul class="nav navbar-nav navbar-right">
					{{> atNavButton}}
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</template>